<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airpane Binoclars</title>
    <meta name="apple-mobile-web-app-title" content="Airpane Binoclars">
    <link rel="apple-touch-icon" href="launchimages/view-of-mountain-top/Default1024x768.png">
    <link rel="apple-touch-startup-image" href="launchimages/view-of-mountain-top/Default1125x2436.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="#94d0dc">
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
