<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airpane Binoclars</title>
    <meta name="apple-mobile-web-app-title" content="Airpane Binoclars">
    <link rel="apple-touch-icon" href="https://cdn.glitch.com/6c9469ca-e1fb-4901-88a9-701da8f7ae83%2FDefault1024x768%20(2).png">
    <link rel="apple-touch-startup-image" href="https://cdn.glitch.com/6c9469ca-e1fb-4901-88a9-701da8f7ae83%2FDefault1125x2436%20(2).png">
    <meta name="apple-mobile-web-app-status-bar-style" content="#94d0dc">
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
